.outside-close-button{
  width: 100px;
  height: 50px;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.ReactModal__Body, .ReactModalPortal, .ReactModal__Content{
  padding: 0px !important; /*remove forced padding from react-modal*/
}

.modled-container{
  width: 100%;
  height: 100%;
  background-color: var(--black);
}


.poptitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  margin: 0;
  padding: 10px 0; 
  text-align: center; /* Center the text horizontally */
}
