.btn {
  background-color: var(--black);
  width: 400px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 20px; /* Add border-radius for curved corners */
  box-shadow: 5px 4px 7px 0 #505050;

  color: var(--white);
}

.btn:hover {
  background-color: var(--black);
  color: white;
  text-decoration: none;
}

.btn-1 {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-1:hover {
  outline: 4px solid var(--green);
  color: var(--green);
  background-color: var(--black);
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.btn-2 {
  margin-top: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-2:hover {
  outline: 4px solid var(--green);
  color: var(--green);
  background-color: var(--black);
  margin-top: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 30px;
  margin-right: 30px;
}
.btn-3 {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 15px;
  margin-left: 29px;
  margin-right: 30px;
}

.btn-3:hover {
  outline: 4px solid var(--green);
  color: var(--green);
  background-color: var(--black);
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 15px;
  margin-left: 29px;
  margin-right: 30px;
}

.btn-4 {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-4:hover {
  outline: 4px solid var(--red);
  color: var(--red);
  background-color: var(--black);
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-5 {
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-5:hover {
  outline: 4px solid var(--green);
  color: var(--green);
  background-color: var(--black);
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.btn-6 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-6:hover {
  outline: 4px solid var(--green);
  color: var(--green);
  background-color: var(--black);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-container {
  display: flex-inline;
}
