
.search-bar {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Add this line to space elements apart */
}

.buttonn {
  background-color: var(--black);
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  border-radius: 20px; /* Add border-radius for curved corners */
  box-shadow: 5px 4px 7px 0 #505050;
  color: var(--white);
}

.buttonn:hover {
  outline: 5px solid var(--green);
  color: var(--white);
  text-decoration: none;
}

.button-back {
  padding: 15px 30px;
  margin-left: -40px;
}
.select-search {
  margin-left: 40px;
  padding: 15px 40px;
}

.search-bar {
  margin-left: 0px;
  padding: 15px 50px;
  margin-top: 1px;
}

.search-submit {
  padding: 15px 10px;
  cursor: pointer;
  margin-top: -8px;
  margin-left: 10px;
}

.button-filter,
.button-reset,
.button-refresh {
  padding: 15px 25px;
}
.search-form {
  display: flex;
  align-items: center;
}
