.footerdiv {
  position: absolute;
  bottom: 0;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  text-align: center;
}

.footer-content {
  padding: 20px;
}

.footer-text {
  font-size: 16px;
}
