.footerdiv {
  background-color: #333; 
  color: #fff; 
  padding: 2rem 0; 
  text-align: center;
}

.footer-content {
  padding: 20px;
}

.footer-text {
  font-size: 1.5rem; 
  margin-bottom: 10px; 
  font-weight: bold; 
  text-transform: uppercase; 
}


.footerdiv::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #555;
  margin: 1rem 0;
}