.cartscreen {
    display: flex;
    max-width: 1300px;
    margin: 4rem auto;
  }
  
  .cartscreen h2 {
    margin-bottom: 1rem;
  }
  
  .cartscreen__left {
    flex: 0.7;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 31px;
background: linear-gradient(45deg, #eee7e7, #fafafa);
box-shadow:  12px -12px 20px #949494,
             -12px 12px 20px #ffffff;
    
  }
  
  .cartscreen__right {
    flex: 0.3;
    height: fit-content;
    border-radius: 29px;
  background: linear-gradient(45deg, #e7e3e3, #ffffff);
  box-shadow:  13px -13px 35px #727272,
             -13px 13px 35px #ffffff;
  }
  
  .cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
  .cartscreen__info p {
    padding: 8px;
  }
  
  .cartscreen__info p:first-child {
    font-weight: bold;
  }
  
  .cartscreen__right div:last-child {
    border: none;
  }
  
  .cartscreen__right div button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   
  }

  
  .cartscreen__right div button:hover {
    color: #ffffff;
    background-color: hsl(123, 91%, 36%);
  }
  button:active {
    letter-spacing: 3px;
    background-color: hsl(123, 91%, 36%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(8, 8, 8) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
  
  @media (max-width: 1320px) {
    .cartscreen {
      max-width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      max-width: 800px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      flex-direction: column;
    }
    .cartscreen__left {
      margin:0;
    }
  
    .cartscreen__right {
      margin: 1rem;
    }
  }
  