.homescreen{
    max-width: 1300px;
    margin: 1rem auto;
}
.homescreen__title{
    font-size: 50px;
    text-transform: uppercase;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
    
}
.homescreen__products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/*When audjesting screen it wil change agroding to this */
@media (max-width: 1232px){
    .homescreen__products{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .homescreen__products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px){
    .homescreen__products{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*When audjesting screen it wil change agroding to this */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.input__container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 22px;
  width: 800px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  
  perspective: 500px;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
    radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
}

.input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 400ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
}

.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
}

.input__search {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px;
  position: relative;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  
  .loader {
    width: 100%;
    height: 15px;
    text-align: center;
  }
  
  .dot {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
  }
  
  .dot:first-child:before {
    animation-delay: 0ms;
  }
  
  .dot:first-child:after {
    animation-delay: 0ms;
  }
  
  .dot:last-child:before {
    animation-delay: 200ms;
  }
  
  .dot:last-child:after {
    animation-delay: 200ms;
  }
  
  .dot:before{
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(250, 250, 250);
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: rgb(0, 0, 0);
    border-radius: 100%;  
  }
  
  .dot:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    box-shadow: 0px 0px 1px black;
    opacity: .20;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
  }
  
  @keyframes dotShadow {
    0% {
      transform: scaleX(1);
    }
    50% {
      opacity: 0;
      transform: scaleX(.6);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes dotHover {
    0% {
      top: 0px;
    }
    50% {
      top: -50px;
      transform: scale(1.1);
    }
    100% {
      top: 0;
    }
  }
