.homescreen{
    max-width: 1300px;
    margin: 1rem auto;
}
.homescreen__title{
    font-size: 50px;
    text-transform: uppercase;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
    
}
.homescreen__products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/*When audjesting screen it wil change agroding to this */
@media (max-width: 1232px){
    .homescreen__products{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px){
    .homescreen__products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px){
    .homescreen__products{
        grid-template-columns: repeat(1, 1fr);
    }
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.search__box {
    width: 50%;
    height: 35px;
    position: relative;
    border-radius: 25px;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  
  .loader {
    width: 100%;
    height: 15px;
    text-align: center;
  }
  
  .dot {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
  }
  
  .dot:first-child:before {
    animation-delay: 0ms;
  }
  
  .dot:first-child:after {
    animation-delay: 0ms;
  }
  
  .dot:last-child:before {
    animation-delay: 200ms;
  }
  
  .dot:last-child:after {
    animation-delay: 200ms;
  }
  
  .dot:before{
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(250, 250, 250);
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: rgb(0, 0, 0);
    border-radius: 100%;  
  }
  
  .dot:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: black;
    box-shadow: 0px 0px 1px black;
    opacity: .20;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82,0,.26,1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
  }
  
  @keyframes dotShadow {
    0% {
      transform: scaleX(1);
    }
    50% {
      opacity: 0;
      transform: scaleX(.6);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes dotHover {
    0% {
      top: 0px;
    }
    50% {
      top: -50px;
      transform: scale(1.1);
    }
    100% {
      top: 0;
    }
  }
