/* SeatManage.css */

.seat-manage {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  

  tr {
    background-color: rgb(255, 255, 255);
  
  }


  .highlighted-row {
    background-color: rgb(46, 47, 46); 
    font-weight: bold; 
    color: white;
    
  }

  