/* Slip.css */

/* Container for the bill */
.slip-container {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: #ffffff;
  background-image: url('ticket2.png');
}

/* Header section */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.dolby {
  max-width: 100px;
}

/* Bill details section */
.bill-details {
  font-size: 20px;
  margin-top: 130px;
  margin-left: 450px;
  font-weight: bold;

  
}

/* Action buttons */
.action-buttons {
  text-align: center;
  margin-top: 1px;
  margin-left: 160px;
}

.buttonx {
  margin: 10px;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #004b00;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.buttonx:hover {
  background-color: #15aa01;
}

/* Style the deleting message */
.deleting {
  color: #000000;
  font-weight: bold;
}

/* Link button */
.button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #0073e6;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}

.aaabb{
  font-size: 25px;
  margin-left: 550px;
  font-weight: bold;
}

