/* Style for the main content container */
.sldklkfldsd-view-report-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the search input */
  .sldklkfldsd-search-input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 500px;

  }
  
  /* Style for the table */
  .sldklkfldsd-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sldklkfldsd-table th, .sldklkfldsd-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .sldklkfldsd-table th {
    background-color: #007bff;
    color: white;
  }
  
  .sldklkfldsd-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style for action buttons */
  .sldklkfldsd-action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .sldklkfldsd-action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sldklkfldsd-action-buttons .sldklkfldsd-print-button {
    background-color: #28a745;
    color: white;
  }
  
  .sldklkfldsd-action-buttons .sldklkfldsd-cancel-button {
    background-color: #dc3545;
    color: white;
  }
  
  /* Style for delete button */
  .sldklkfldsd-delete-button {
    background-color: #dc3545;
    color: white;
    cursor: pointer;
  }
  
  .sldklkfldsd-delete-button:hover {
    background-color: #c82333;
  }
  
  /* Style for the h2 heading */
  .sldklkfldsd-h2 {
    font-size: 28px;
    color: #3c419b;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
  }
  